<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Employee Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


    
</head>

<body>
	
	<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		    <div class="container">
		        <a class="navbar-brand" href="/">Perficient Skills Tracker Application</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		                aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarResponsive">
		            <ul class="navbar-nav ml-auto">
		                <li class="nav-item active">
		                    <a class="nav-link" href="#">Home
		                        <span class="sr-only">(current)</span>
		                    </a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="#">About</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="#">Services</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="#">Contact</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>
	
	
    <div class="container my-5" style="padding-top: 30px;">
    
        <h3>Employee Details</h3>
        
        
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/createEmployee}" th:object="${employee}" method="post">
                    
                    	<div class="row">
                        	
                            <div class="form-group col-md-8">
                            	<h6 style='display:inline'>First Name:</h6> <p style='display:inline' th:text="*{firstName}"></p>
                               
                            </div>
                            <div class="form-group col-md-8">
                                <h6>Last Name: </h6> <p th:text="*{lastName}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h5>Address Information</h5> <br> <h6>Street:</h6> <p th:text="*{street}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               		<h6>Suite:</h6> <p th:text="*{suite}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               		<h6>City:</h6> <p th:text="*{city}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               		<h6>Region:</h6> <p th:text="*{region}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               		<h6>Postal:</h6> <p th:text="*{postal}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               		<h6>Country:</h6> <p style='display:inline' th:text="*{country}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Contact Email:</h6> <p th:text="*{contactEmail}"></p>
                            </div>
                            <div class="form-group col-md-8">
                                <h6>Company Email:</h6> <p th:text="*{companyEmail}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Birth Date:</h6> <p th:text="*{birthDate}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Hire Date:</h6> <p th:text="*{hireDate}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Role:</h6> <p th:text="*{role}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Business Unit:</h6> <p th:text="*{businessUnit}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Skills:</h6> <p th:text="*{fieldName}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Technical Field:</h6> <p th:text="*{fieldType}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Experience:</h6> <p th:text="*{experience}"></p>
                            </div>
                            <div class="form-group col-md-8">
                               <h6>Summary: </h6><p th:text="*{summary}"></p>
                            </div>
				
                            
							<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
						

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


	
   


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>